/*home page---------------------*/


div {
  font-family: myFirstFont;
}
header {
    background-color: rgb(0,191,255);
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224,255,255);
		float: center;
		position:  absolute;
}


footer {
    font-size:15px;
		padding: 20;
    margin: 20;
		float: bottom;
    
}



table,td,th {
    margin-left: 25%;
		margin-top: 10%
		border: 2px solid;
		border-radius: 5px;
		color: black;
		padding: 10px;
		text-align: center;
    width: 1000px;
}

h1 {
    text-align:center;
     opacity:0.5;
    font-family: 'Metal Mania', cursive;
}
h2 {
    text-align:center;
    font-family: 'Metal Mania', cursive;
    background-color: rgb(0,191,255);
       opacity:0.8;
}
h3 {
    text-align:center;
}


header #logo img{
  float: left;
	border: 4px dotted blue;
	display:block;
   margin-left:auto;
   margin-right:auto; 
}



nav {
    overflow: hidden;
    font-size: 20px;
    text-align: center;
}

nav li{
    float: left;
    display: block;
    text-align: center;
    padding: 20px 30px;
    background-color: inherit;
    font-size: 20px;
    text-decoration: none;
    
}

nav li:hover{
    background-color:rgb(255,255,255);
    color: rgb(173, 216, 230);
}
main {
	float: center;
    display: block;
		margin-top: :30px;
		margin-bottom: :50px;
    text-align: center;
    padding: 20px 30px;
    background-color: inherit;
    font-size: 20px;
    text-decoration: none;
}
main img{
  float: center;
	border: 4px dotted blue;
	display:block;
  margin-left:auto;
  margin-right:auto; 
}

main #main-promo{
	float: center;
	
}


/*Ticket Pricing*/
#TicketPrice {
    text-align: center;
    
}

#ExpressPass {
    text-align: center;
}
/*Things to do*/
#Attraction {
    padding-left: 10%
}

#EventsShows{
    padding-left: 20%;
}

#More {
    font-size: 20px;
    align-content: center;
}
