/*home page---------------------*/


div {
  font-family: myFirstFont;
}
header {
    background-color: rgb(0,191,255);
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224,255,255);
}


footer {
    font-size:15px;
    
}

#colorblock {
    background-color:rgba(0,0,255,1);
    padding: 20px;
}

table,td,th {
    margin-left: 25%;
border: 2px solid;
border-radius: 5px;
color: black;
padding: 10px;
text-align: center;
    width: 1000px;
}

h1 {
    text-align:center;
       opacity:0.5;
    font-family: 'Metal Mania', cursive;
}
h2 {
    text-align:center;
    font-family: 'Metal Mania', cursive;
    background-color: rgb(0,191,255);
       opacity:0.8;
}
h3 {
    text-align:center;
}

.navbar {
    overflow: hidden;
    background-color: rgb(0, 127, 255);
}
.navbar li{
    float: left;
    display: block;
    text-align: center;
    padding: 20px 30px;
    background-color: inherit;
    font-size: 20px;
    text-decoration: none;
    
}

.navbar li:hover{
    background-color:rgb(255,255,255);
    color: rgb(173, 216, 230);
}

.photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    
}

.navblock {
    background-color: rgb(173, 216, 230);
    font-size: 20px;
    text-align: center;
}

#logo {
    display:block;
    margin-left:auto;
    margin-right:auto; 
    float:left; 
}
#generalphoto {
    border-radius:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*Ticket Pricing*/
#TicketPrice {
    text-align: center;
    
}

#ExpressPass {
    text-align: center;
}
/*Things to do*/
#Attraction {
    padding-left: 10%
}

#EventsShows{
    padding-left: 20%;
}

#More {
    font-size: 20px;
    align-content: center;
}
